<%= form_with(model: municipe) do |form| %>
  <% if municipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(municipe.errors.count, "error") %> prohibited this municipe from being saved:</h2>

      <ul>
        <% municipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <div style="float:left;">
      <%= form.label :fullname %>
      <br/>
      <%= form.text_area :fullname %>
      <br/>
      <%= form.label :avatar %>
      <br/>
      <%= form.file_field :avatar, accept: 'image/png,image/jpeg' %>
      <br/>
      <%= form.label :cpf %>
      <br/>
      <%= form.text_area :cpf %>
      <br/>
      <%= form.label :cns %>
      <br/>
      <%= form.text_area :cns %>
      <br/>
      <%= form.label :email %>
      <br/>
      <%= form.text_area :email %>
      <br/>
      <%= form.label :birthdate %>
      <br/>
      <%= form.date_field :birthdate %>
      <br/>
      <%= form.label :phone %>
      <br/>
      <%= form.text_area :phone %>
      <br/>
      <%= form.label :status %>
      <br/>
      <%= form.select :status, options_for_select([["Inativo", :inactive],["Ativo", :active]], municipe.status), {prompt: true} %>
      <br/>
    </div>
    <div style="float:left;">
      <%= form.fields_for :addresses do |address_form| %>
        <h1><%= I18n.t('activerecord.models.address') %></h1>
        <%= address_form.label I18n.t('activerecord.attributes.address.zipcode') %>
        <br/>
        <%= address_form.text_area :zipcode, value: form.object.try(:address).try(:zipcode) %>
        <br/>
        <%= address_form.label I18n.t('activerecord.attributes.address.publicplace') %>
        <br/>
        <%= address_form.text_area :publicplace, value: form.object.try(:address).try(:publicplace) %>
        <br/>
        <%= address_form.label I18n.t('activerecord.attributes.address.complement') %>
        <br/>
        <%= address_form.text_area :complement, value: form.object.try(:address).try(:complement) %>
        <br/>
        <%= address_form.label I18n.t('activerecord.attributes.address.district') %>
        <br/>
        <%= address_form.text_area :district, value: form.object.try(:address).try(:district) %>
        <br/>
        <%= address_form.label I18n.t('activerecord.attributes.address.city') %>
        <br/>
        <%= address_form.text_area :city, value: form.object.try(:address).try(:city) %>
        <br/>
        <%= address_form.label I18n.t('activerecord.attributes.address.uf') %>
        <br/>
        <%= address_form.text_area :uf, value: form.object.try(:address).try(:uf) %>
        <br/>
        <%= address_form.label I18n.t('activerecord.attributes.address.ibgecode') %>
        <br/>
        <%= form.number_field :ibgecode, value: form.object.try(:address).try(:ibgecode) %>
        <br/>
      <% end %>
    </div>
  </div>
  <%= form.submit %>
<% end %>
